# Env / secrets
.env

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
*.log

# Frontend
frontend/node_modules/
frontend/dist/
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db